/* Hangman Game Area */
.hangman-container {
    width: 100%;
    gap: 3vw;
    margin-bottom: 1vw;
    min-height: 19.5vw;
}

.hangman {
    width: 100%;
}

.hangman-svg {
    width: 100%;
    height: 12.5vw;
}

.guess-count-container {
    min-width: 50%;
    margin: 0 auto;
}
